@import url("https://fonts.googleapis.com/css2?family=Bellefair&family=Dancing+Script&family=Epilogue:wght@700&family=Lato:wght@100;300;400&family=Manrope&family=Oswald&family=Poppins:ital,wght@1,200&family=Source+Sans+Pro:wght@300&family=Space+Mono:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}

*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.home-page {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/home/background-home-desktop.jpg);
}
@media (max-width: 56.25em) {
  .home-page {
    height: 100%;
    overflow: visible;
  }
}
@media (max-width: 37.5em) {
  .home-page {
    background-image: url(/assets/home/background-home-mobile.jpg);
  }
}
@media (max-width: 56.25em) {
  .home-page {
    background-image: url(/assets/home/background-home-tablet.jpg);
  }
}

.destination-page {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/destination/background-destination-desktop.jpg);
}
@media (max-width: 56.25em) {
  .destination-page {
    height: 100%;
    overflow: visible;
  }
}
@media (max-width: 37.5em) {
  .destination-page {
    background-image: url(/assets/destination/background-destination-mobile.jpg);
  }
}
@media (max-width: 56.25em) {
  .destination-page {
    background-image: url(/assets/destination/background-destination-tablet.jpg);
  }
}

.crew-page {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/crew/background-crew-desktop.jpg);
}
@media (max-width: 56.25em) {
  .crew-page {
    height: 100%;
    overflow: visible;
  }
}
@media (max-width: 37.5em) {
  .crew-page {
    background-image: url(/assets/crew/background-crew-mobile.jpg);
  }
}
@media (max-width: 56.25em) {
  .crew-page {
    background-image: url(/assets/crew/background-crew-tablet.jpg);
  }
}

.technology-page {
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url(/assets/technology/background-technology-desktop.jpg);
}
@media (max-width: 56.25em) {
  .technology-page {
    height: 100%;
    overflow: visible;
  }
}
@media (max-width: 37.5em) {
  .technology-page {
    background-image: url(/assets/technology/background-technology-mobile.jpg);
  }
}
@media (max-width: 56.25em) {
  .technology-page {
    background-image: url(/assets/technology/background-technology-tablet.jpg);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  margin-top: 5rem;
}
@media (max-width: 56.25em) {
  .header {
    margin-bottom: 5rem;
  }
}
.header__nav {
  position: relative;
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 2rem;
  padding: 4rem 8rem;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.05);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
.header__nav li:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 56.25em) {
  .header__nav {
    display: none;
  }
}
.header__nav::before {
  content: "";
  position: absolute;
  width: 55%;
  height: 3px;
  top: 50%;
  left: -20%;
  transform: translate(-50%, -50%);
  background-color: rgb(108, 106, 106);
}
.header__nav--hamburger {
  display: none;
}
@media (max-width: 56.25em) {
  .header__nav--hamburger {
    display: inline-block;
    cursor: pointer;
    z-index: 1000000000000;
  }
}
.header__link,
.header__link:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  font-weight: 400;
  transition: all 0.5s;
  transform-origin: right;
}
.header__link:focus,
.header__link:link:focus {
  color: rgb(191, 189, 189);
}
.header__link::before,
.header__link:link::before {
  content: "";
  position: absolute;
  width: 0%;
  height: 0%;
  top: 6rem;
  left: 0.2rem;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.7s ease-in-out, width 0.7s ease-in-out;
}
.header__link:hover::before {
  opacity: 1;
  width: 100%;
  height: 8%;
}

.main-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 19%;
}
@media (max-width: 56.25em) {
  .main-content {
    margin-top: 30%;
    flex-direction: column;
    text-align: center;
  }
}
@media (max-width: 37.5em) {
  .main-content {
    margin-top: 12%;
  }
}
.main-content__text {
  display: column;
  flex: 0 0 40%;
}
@media (max-width: 56.25em) {
  .main-content__text {
    margin-bottom: 2rem;
  }
}
@media (min-width: 112.5em) {
  .main-content__text {
    flex: 0 0 20%;
  }
}
.main-content__primary {
  color: rgb(175, 175, 175);
  font-size: 3.4rem;
  margin-bottom: 2rem;
}
@media (max-width: 56.25em) {
  .main-content__primary {
    margin-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .main-content__primary {
    font-size: 2.8rem;
  }
}
.main-content__secondary {
  font-size: 11rem;
  letter-spacing: 1rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  color: #fff;
}
@media (max-width: 56.25em) {
  .main-content__secondary {
    margin-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .main-content__secondary {
    font-size: 7rem;
  }
}
.main-content__tetairy {
  color: rgb(175, 175, 175);
  font-size: 2.2rem;
}
@media (max-width: 56.25em) {
  .main-content__tetairy {
    margin-bottom: 2rem;
    padding: 0 4rem;
  }
}
.main-content__circle {
  display: flex;
  font-size: 3rem;
  height: 23rem;
  width: 23rem;
  background-color: #fff;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  color: rgb(108, 106, 106);
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  box-sizing: border-box;
  transition: border 0.4s ease-in-out, width ease-in-out;
}
@media (max-width: 56.25em) {
  .main-content__circle {
    height: 19rem;
    width: 19rem;
    margin-bottom: 2rem;
  }
}
.main-content__circle:hover {
  border: 11.5rem solid rgb(162, 162, 162);
}

.destination-main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 3%;
}
@media (max-width: 56.25em) {
  .destination-main {
    flex-direction: column;
  }
}
@media (min-width: 112.5em) {
  .destination-main {
    margin-top: 6%;
  }
}
.destination-main__planet {
  display: flex;
  flex-direction: column;
  width: 42%;
}
@media (max-width: 56.25em) {
  .destination-main__planet {
    width: 100%;
  }
}
.destination-main__planet--title {
  margin-left: 10rem;
  font-size: 2.7rem;
  text-transform: uppercase;
  color: #fff;
}
@media (max-width: 56.25em) {
  .destination-main__planet--title {
    margin: 0;
    text-align: center;
  }
}
@media (min-width: 112.5em) {
  .destination-main__planet--title {
    margin-left: 30rem;
  }
}
.destination-main__planet--span {
  color: rgb(108, 106, 106);
}
.destination-main__planet--img {
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  height: 44rem;
  width: 44rem;
}
@media (max-width: 56.25em) {
  .destination-main__planet--img {
    margin: 5rem auto;
    height: 40rem;
    width: 40rem;
  }
}
@media (max-width: 37.5em) {
  .destination-main__planet--img {
    height: 30rem;
    width: 30rem;
  }
}
.destination-main__info {
  height: 52rem;
  width: 35%;
}
@media (max-width: 56.25em) {
  .destination-main__info {
    width: 85%;
    font-size: 3rem;
  }
}
.destination-main__nav {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background: none;
}
.destination-main__nav::before {
  content: none;
}
.destination-main__nav a {
  color: rgb(155, 155, 155);
}
.destination-main__nav a:focus {
  color: #fff;
}
.destination-main__nav ::before {
  content: "";
  width: 0%;
  height: 0%;
  transform: translateY(-2rem);
  background-color: rgb(255, 255, 255);
  opacity: 1;
}
.destination-main__planet-name {
  margin-top: 4rem;
  text-align: center;
  text-transform: uppercase;
}
.destination-main__planet-info {
  color: #fff;
  font-size: 1.6rem;
  text-align: left;
  padding: 0 4rem 5rem 4rem;
  margin-top: 4rem;
  line-height: 3rem;
  border-bottom: 2px solid white;
}
@media (max-width: 56.25em) {
  .destination-main__planet-info {
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 112.5em) {
  .destination-main {
    padding: 0 30rem 5rem 30rem;
  }
}

.avg {
  display: flex;
  color: white;
  margin-top: 4rem;
  text-align: center;
}
.avg-dist {
  flex: 0 0 50%;
  text-transform: uppercase;
}
.avg-dist__avg {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: rgb(158, 156, 156);
}
.avg-dist__dist-time {
  font-size: 2.5rem;
}

.crew {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 56.25em) {
  .crew {
    flex-direction: column-reverse;
  }
}
.crew__meet {
  display: flex;
  flex-direction: column;
  flex: 0 0 40%;
  color: white;
}
@media (min-width: 112.5em) {
  .crew__meet {
    flex: 0 0 25%;
    margin-top: 5%;
  }
}
@media (min-width: 112.5em) {
  .crew__span {
    margin: 0 auto;
  }
}
.crew__rank {
  margin-top: 25%;
  font-size: 4rem;
  color: rgb(108, 106, 106);
  padding-bottom: 2rem;
  text-align: center;
}
@media (max-width: 56.25em) {
  .crew__rank {
    margin-top: 10%;
  }
}
.crew__name {
  font-size: 5rem;
  padding-bottom: 2rem;
  text-align: center;
}
@media (min-width: 112.5em) {
  .crew__name {
    font-size: 5.5rem;
    margin: 3rem 0;
  }
}
.crew__info {
  font-size: 1.8rem;
  line-height: 3.3rem;
  margin-bottom: 2rem;
  color: rgb(215, 215, 215);
}
@media (max-width: 56.25em) {
  .crew__info {
    text-align: center;
    padding: 0 1rem;
  }
}
@media (min-width: 112.5em) {
  .crew__info {
    font-size: 2.2rem;
  }
}
.crew__nav {
  margin-top: 20%;
}
@media (max-width: 56.25em) {
  .crew__nav {
    margin: 10% auto 2rem auto;
  }
}
.crew__nav--item:not(:last-child) {
  margin-right: 2rem;
}
.crew__nav--item {
  height: 1.8rem;
  width: 1.8rem;
  position: relative;
  cursor: pointer;
}
.crew__nav--item::before {
  content: "";
  position: absolute;
  top: 8%;
  left: 8%;
  width: 0;
  height: 0;
  background-color: rgb(7, 220, 78);
  box-shadow: 0 0.3rem 3rem rgb(255, 255, 255);
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.4s;
}
.crew__nav--item:checked::before {
  transform: scale(1);
  height: 1.5rem;
  width: 1.5rem;
}
.crew__img {
  flex: 0 0 40%;
  position: relative;
}
@media (min-width: 112.5em) {
  .crew__img {
    flex: 0 25%;
    margin-top: 5%;
  }
}
.crew__img--port {
  margin-top: 10%;
  position: absolute;
  transition: all 0.4s ease-in-out;
  top: 0;
  left: 0;
}
@media (max-width: 56.25em) {
  .crew__img--port {
    height: 50rem;
    width: 50rem;
    display: flex;
    position: relative;
    margin: 10% auto 5rem auto;
  }
}
@media (max-width: 37.5em) {
  .crew__img--port {
    height: 30rem;
    width: 30rem;
  }
}
.crew__img--port:hover {
  top: -1rem;
}

.technology {
  margin-top: 5%;
  display: flex;
  align-items: center;
}
@media (max-width: 56.25em) {
  .technology {
    flex-direction: column-reverse;
  }
}
@media (min-width: 112.5em) {
  .technology {
    margin: 5% 10%;
  }
}
.technology-form {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: 3%;
}
@media (max-width: 56.25em) {
  .technology-form {
    flex-direction: row;
  }
}
.technology-form__nav {
  height: 7rem;
  width: 7rem;
}
@media (max-width: 56.25em) {
  .technology-form__nav {
    margin-top: 3rem;
  }
}
.technology-form__nav:not(:last-child) {
  margin-bottom: 10rem;
}
.technology-info {
  padding-left: 5rem;
  flex: 0 0 30%;
  color: #fff;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
@media (max-width: 37.5em) {
  .technology-info {
    padding: 0 2rem;
  }
}
.technology-info__paragraph {
  font-size: 2.2rem;
  margin-bottom: 1.8rem;
  font-weight: 200;
}
.technology-info__title {
  font-size: 5rem;
  margin-bottom: 2rem;
  font-weight: 700;
}
@media (max-width: 56.25em) {
  .technology-info__title {
    text-align: center;
  }
}
.technology-info__info {
  font-size: 2.2rem;
  font-weight: 100;
}
.technology-image {
  margin-left: auto;
}
@media (max-width: 56.25em) {
  .technology-image {
    margin: 0 auto;
    margin-bottom: 2rem;
  }
}
.technology-image__image {
  height: 50rem;
  width: 50rem;
  border-radius: 4px;
  transition: all 0.4s ease-in;
}
@media (max-width: 37.5em) {
  .technology-image__image {
    height: 30rem;
    width: 30rem;
  }
}
.technology-image__image:hover {
  transform: scale(1.02);
}

.mobile-nav {
  position: fixed;
  display: none;
  top: 0%;
  left: 0;
  transform: translateX(200%);
  height: 100vh;
  width: 75vw;
  background-color: rgba(62, 62, 62, 0.85);
  color: white;
  font-size: 3rem;
  transition: all 0.4s ease-in-out;
  z-index: 100000;
}
@media (max-width: 37.5em) {
  .mobile-nav {
    display: flex;
    transform: translateX(300%);
  }
}
.mobile-nav__items {
  list-style: none;
  margin: auto;
  font-weight: 700;
}
.mobile-nav__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  margin-bottom: 5rem;
  font-style: none;
  text-decoration: none;
  color: #fff;
  z-index: 50000;
}
.mobile-nav--active {
  transform: translateX(50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  font-weight: 700;
}
@media (max-width: 37.5em) {
  .mobile-nav--active {
    transform: translateX(40%);
  }
} /*# sourceMappingURL=main.css.map */
